<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head', { title: 'Home Page' }) %>
    </head>
<body>
    <%- include('partials/nav') %>
    <div class="container text-center my-5">
        <h1>About Us</h1>
    </div>

    <div class="container my-5">
        <!-- Mission Section -->
        <div class="row mb-3">
            <div class="col">
                <h2>Mission</h2>
                <p>Our mission at Historical Teams is to illuminate the narratives of teams across time, presenting their stories through compelling data visualizations and engaging historical analyses. From ancient civilizations to modern-day innovators, we strive to give every team its due spotlight.</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <h2>Vision</h2>
                <p>Our vision is to create a comprehensive digital archive where enthusiasts, researchers, and the curious public can explore the history of teams in an interactive and visually appealing format. We aim to be the go-to source for historical team data, recognized for our dedication to accuracy, design, and storytelling.</p>
            </div>
        </div>

    <%- include('partials/footer') %>
</body>
