<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head', { title: 'Home Page' }) %>
    </head>
<body>
    <%- include('partials/nav') %>
    <h1 class="text-center">Teams</h1>

    <%- include('partials/footer') %>
</body>
